<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "All Suites">
    <test name = "Tests">
        <classes>
            <class name="com.cath.appium.test.ManualLogoutTest"/>
            <class name="com.cath.appium.test.UserStayedLoggedInTest"/>
        </classes>
    </test>
</suite>